/* General Styles */
* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  text-align: center;
}

h1,
h2,
h4 {
  text-align: center;
}

h1 {
  letter-spacing: 1px;
  margin-top: 50px;
}

h2 {
  margin-bottom: 50px;
}

h4 {
  margin-top: 20px;
}

/* Navigation */
nav > ul > li {
  font-weight: 500;
  border: 1px outset;
  border-radius: 4px;
  padding: 5px;
  margin: 4px;
}

.navbar-brand {
  width: 40px;
  height: auto;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: rgba(0, 0, 0, 0.1);
  background-color: white;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.hero::before,
.hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
}

.content {
  text-align: center;
  position: relative;
  z-index: 1;
}

/* Projects Section */
.projects {
  margin-top: 50px;
}

.projects ol li {
  padding: 20px;
}

.projects a {
  color: #fff;
}

/* Contact and Social Sections */
.contact,
.social,
.about,
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin-top: 100px;
}

.contact-content,
.social-content,
.about-content {
  text-align: center;
}

.about-me {
  text-align: justify;
}

.social a {
  padding: 5px;
  text-decoration: none;
  color: #fff;
}

.social {
  margin-bottom: 100px;
}

.fa {
  font-size: 20px;
}

/* Miscellaneous */
.contact,
.social,
footer,
.about {
  text-align: center;
}

#back-to-top {
  position: fixed;
  bottom: 70px;
  right: 20px;
  display: none; /* Initially hidden */
  z-index: 999; /* Ensures it's above other elements */
}
