html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  color: #111111;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

/* Sections animation */
section {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease-in-out;
}

section.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Common styles for full-screen sections */
header,
#about-me,
#contact,
footer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertically center content */
  align-items: center; /* horizontally center content */
  text-align: center;
  padding: 1rem;
}

/* Specific styles */
body > header > a {
  padding: 1.2rem;
}

#about-me,
footer {
  background-color: white;
}

#about-me p,
#contact p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #333;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

#about-me a {
  color: #0073e6;
  font-weight: 600;
  text-decoration: none;
  margin-left: 5px;
}
